# SYD DAT 3 Lab 1 - Git and Markdown

##Homework:

#### Setup
* Resolve any installation issues before next class.
* Make sure you have a github profile and created a repo called "SYD_DAT_4"
* Clone the class repo (this one!)
* Review this [code](../labs/Week 1/00_python_refresher.py) for a recap of some Python basics.

#### Communication
* Read [Analyzing the Analyzers](http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf) for a useful look at the different types of data scientists. Write down 5 key points you took away from the article

My observations from reading the text above include the following;
    * There is quite a bunch of hype about data scientists and because of this, data scientist might be mistakenly seen as miracle workers.
    * Data Scientists can be categorised into four different skill sets which include;
        * Data Researchers
        * Data Creatives
        * Data Developers
        * Data Business People
    * The categories above are based on different distribution of skillsets like programming, math/operational research, statistics, machine learning/big data and business
    * Having a broad skillset is very valuable for data scientists (T-shaped Data scientist).
    * As data scientist is important to be to communicate your areas of depth because it helps others to know where your expertise lies.
    
* Read about some [Markdown Techniques](http://daringfireball.net/projects/markdown/syntax)
* Write a summary of 2 chapters of [The Data Science Handbook](http://www.thedatasciencehandbook.com/) in Markdown and submit a pull request in the Lab Directory

Data science is a role that involves lots of collaboration and team work as such aspiring data scientists need to be aware 

#### Programming
* Complete the lab from class and the additional Exercise below
 #### Lab 1 solutions
   * filter DataFrame to only include European countries
     *  `drinks[drinks.continent == 'EU']`
   * calculate the average 'beer_servings' for all of Europe
      * `drinks.beer_servings[drinks.continent == 'EU'].mean()`
   * determine which 10 countries have the highest total_litres_of_pure_alcohol
      * `drinks.sort('total_litres_of_pure_alcohol', ascending=False).head(10)`
   * rename the column 'beer_servings' to 'beer'
      * `drinks.rename(columns={'beer_servings': 'beer'}, inplace=True)`
   * add a new column as a function of existing columns, total_servings = beer + wine + spirits
      * `drinks['total_servings'] = drinks.beer + drinks.wine_servings + drinks.spirit_servings`
   * remove the column you just added
      * `drinks.drop('total_servings', 1)`


 #### Movie Lens solutions
   * for each occupation in 'users', count the number of occurrences
      * `users.occupation.value_counts()`
        
        

#### Course Project
* Come up with 5 different ideas for your course project. For each one list:
  * Overview of your idea
  * What data you will use
  * What the outcome is that you are trying to achieve
  * Any ideas of modelling techniques it may involve
  
  #### Course Project Ideas
  * Analysing posts by people am following on twitter, to come with topics. The outcome is topics among which the different posts fall. I might probably use Support Vector Machines.
  * Using github api to recommend projects that a user might be interested in based on what projects they star, what they regularly work on and who they follow. Not very sure what modelling technique i would use for this one
  * Predict the likelihood of a customer being satisfied or not using an annonymized data set from Santander bank, (i got this idea from kaggle competition - [Here](https://www.kaggle.com/c/santander-customer-satisfaction/data)). This sounds like a classification problem so i would probably use logistic regression.
  * analysing my gmail inbox to find relationships between the emails that i read, reply to, archive or never read.
  * 

  

  


**Instructions: copy this file and append your name in the filename, e.g. Homework1_ian_hansel.ipynb.
Then commit this in your local repository, push it to your github account and create a pull request so I can see your work. Remeber if you get stuck to look at the slides going over Fork, Clone, Commit, Push and Pull request.**

## Exercise Four - Movie Lens Data

In [19]:
import pandas as pd
# for each occupation in 'users', count the number of occurrences

# for each occupation, calculate the mean age

# for each occupation, calculate the minimum and maximum ages

# for each combination of occupation and gender, calculate the mean age

# randomly sample a DataFrame
import random 
movie_cols = ['movie_id', 'title']
movies = pd.read_table('../labs/Week 1/u.item', sep='|', header=None, names=movie_cols, usecols=[0, 1])
random.sample(movies.index, 10)

# detect duplicate users
users = pd.read_table('../labs/Week 1/u.user', sep='|', header=None, names=movie_cols, usecols=[0, 1])
user_duplicates = users.drop_duplicates()

     movie_id  title
0           1     24
1           2     53
2           3     23
3           4     24
4           5     33
5           6     42
6           7     57
7           8     36
8           9     29
9          10     53
10         11     39
11         12     28
12         13     47
13         14     45
14         15     49
15         16     21
16         17     30
17         18     35
18         19     40
19         20     42
20         21     26
21         22     25
22         23     30
23         24     21
24         25     39
25         26     49
26         27     40
27         28     32
28         29     41
29         30      7
..        ...    ...
913       914     44
914       915     50
915       916     27
916       917     22
917       918     40
918       919     25
919       920     30
920       921     20
921       922     29
922       923     21
923       924     29
924       925     18
925       926     49
926       927     23
927       928     21
928       929     44
929       930     28
930       931     60
931       932     58
932       933     28
933       934     61
934       935     42
935       936     24
936       937     48
937       938     38
938       939     26
939       940     32
940       941     20
941       942     48
942       943     22

[943 rows x 2 columns]